.movieInfo .name {
    float: left;
}
.movieInfo .value {
    float: right;
}
.movieInfo li:after {
    content: "";
    display: table;
    clear: both;
}
li.icons {
    margin-top: 10px;
    text-align: right;
}
.movieInfo a[href*="calendar"] {
    background: url("../images/icons/AndroidL_Calendar.svg") no-repeat center bottom / contain transparent;
    height: 40px;
    width: 32px;
    display: inline-block;
}
.movieInfo a[href*="facebook"] {
    background: url("../images/icons/AndroidL_Facebook.svg") no-repeat center bottom / contain transparent;
    height: 40px;
    width: 30px;
    display: inline-block;
}